
* {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    background-color: rgb(255, 250, 244);
}


.title {
    font-weight: 1000;
   
}

img {
    height: auto;
    width: 250px;
}

ul {
    list-style: none;
    
}

.disclaimer, span{
    background-color: rgb(221, 175, 118);
    width: fit-content;
}


